input{
    width: 25%;
    height: 5%;
    padding: 20px 20px;
    border: 1px solid #ccc;
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
}

/* div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex: auto;
} */

button:disabled{
    background-color: red;
    color: white;
    
}
button{
    background-color: darkblue;
    color:white;
    width: 30%;
    height: 5%;
    padding: 20px;
   border-color: black;
   border-radius: 5px;   
}
.myclass{
    color:red;
}

color{
    color:yellow;
}

.success-class{
    color: green;
}

.failure-class{
    color:red;
}

.special-class{
    font-style: italic;
}


