<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      {{profileForm.untouched}}
      </form>
    Favorite Color: <input  type="text" [formControl]="lgc">
    <p>Value: {{ lgc.value }}</p>
    <p>Form control prop</p>
    <p>{{lgc.invalid}}</p>
    <!-- /*status,pristine,dirty,touched,untouched,valid,invalid */ -->
    <button (click)="updateName()">updateName</button>
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname" [(ngModel)]="fname" value={{fname}} />
    <p>FirstName :{{fname}}</p>

    <label for="lname">Last Name</label>
    <input [style.font-size]="colorFunction()" type="text" name="lname" id="lname" value={{lname}} />

    <label for="dob">Date Of Birth</label>
    <input [style.font-size]="colorFunction()" type="date" name="dob" id="dob" value={{dob}} />

    <label for="country">Country</label>
    <input type="text" name="country" id="country" value={{country.length}} />

    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" [value]=phone />

    <label for="event">Event</label>
    <input type="text" id="fname" (keyup.Space)="myfunction($event)">
    <p [ngClass]="messageClass">{{text}}</p>
    <p [ngStyle]="styleObject">Sample</p>

</div>