get and change the default location of downloaded libraries

1st way
npm config ls -l

npm list -g

npm config get prefix
npm config set prefix

npm config get cache
npm config set cache

2nd way
prefix=C:\\npm-packages

